.home-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding-top: 1rem;

  .heading {
    margin: 1em auto;
    font-size: 4rem;
  }

  .image {
    max-width: 100%;
    height: auto;
  }
}