@use "../../styles/variables" as *;

.tvShow {
  margin: 0 auto;
  padding: 10px;
  background-color: #71b1ae;
  color: $color-white;
  border-radius: 5px;
  height: 100%;

  &__title {
    font-size: 30px;
    margin: 0;
    color: #254644;
  }

  &__text {
    font-size: 15px;
    font-weight: lighter;
    color: $color-white;
    display: flex;
    justify-content: flex-start;
  }
}


