@use "../../styles/variables" as *;

.nav {
  width: 100%;
  margin: 12px 0;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border-bottom: 2px solid $primary-color;
  padding-bottom: 10px;

  &__item {
    text-decoration: none;
    font-size: 12px;
    margin: 6px 0;
    color: $color-black;
    font-weight: bold;
  }
}


@media screen and (min-width: 768px) {

  .nav {
    border-bottom: 3px solid $primary-color;
    padding-bottom: 10px;
  
    &__item {
      font-size: 17px;
    }
  }
}



@media screen and (min-width: 1024px) {

  .nav {
    border-bottom: 4px solid $primary-color;
    padding-bottom: 14px;
  
    &__item {
      font-size: 23px;
      margin: 10px 0;
    }
  }
}



@media screen and (min-width: 2560px) {

  .nav {
    border-bottom: 7px solid $primary-color;
    padding-bottom: 29px;
  
    &__item {
      font-size: 60px;
      margin: 26px 0;
    }
  }
}